body {
  overflow-x: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.flag-selector--hidden {
    display: none;
}
.section.section--shipping-address h2.section__title {
    padding-left: 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1em;
}
.copyright-text {
    font-size: 0.8571428571em;
    color: #737373;
    margin: 0;
}

p {
    line-height: 1.5em;
}
.wrap:after, .wrap:before {
    content: "";
    display: table;
}
.banner {
    padding: 1.5em 0;
    background: transparent;
    background-size: cover;
    display: none;
}
.section__header {
    position: relative;
    margin-bottom: 1em;
}
.section {
    position: relative;
    padding-top: 2em;
}
.order-summary__section~.order-summary__section {
    border-top: 1px solid rgba(162,170,172,0.34);
}
.display-table .order-summary-toggle--show .order-summary-toggle__text--show, .display-table .order-summary-toggle--hide .order-summary-toggle__text--hide {
    display: table-cell;
    width: 100%;
}
div#partial-icon-symbols {
    display: none;
}
.order-summary-toggle--show .order-summary-toggle__text--show, .order-summary-toggle--hide .order-summary-toggle__text--hide {
    display: block;
}
.order-summary-toggle__text {
    color: #1990c6;
    vertical-align: middle;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: none;
}
.order-summary.order-summary--is-collapsed.order-summary--is-expanded {
    visibility: visible;
    height: auto;
}
@media only screen and (max-device-width: 576px){
    .wrap {
    zoom: 2 !important;
}
select#checkout_shipping_address_country option {
    font-size: 8px;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width : 1230px){
    .js .order-summary--is-collapsed {
    height: 0;
    visibility: hidden;
}
.main__content {
    padding-bottom: 1.5em;
}
.product-thumbnail__quantity {
    top: 15px !important;
}
    .order-summary__section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.breadcrumb {
    padding-bottom: 2em;
}
.field__input {
    padding: 0.9285714286em 0.7857142857em;
    height: 52px;
}
.anyflexbox .content .wrap {
    margin: auto;
    max-width: 100% !important;
    width: 100% !important;
}
.sidebar, .main {
    width: 100% !important;
    padding-left: 0 !important;
    clear: both;
    margin: auto;
    padding-right: 0 !important;
}
aside.mobile_version {
    display: block !important;
}
.layout-flex--tight-vertical .layout-flex__item {
    margin: 0;
}
/*aside.sidebar {
    display: none;
}*/
.display-table .order-summary-toggle__inner {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.order-summary-toggle__inner {
    zoom: 1;
}
.order-summary-toggle {
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 2.50em 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: left;
    width: 100%;
}
.wrap {
    width: 100%;
    max-width: 100% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
}
.display-table .order-summary-toggle__icon-wrapper {
    display: table-cell;
}

.order-summary-toggle__icon-wrapper {
    vertical-align: middle;
    padding-right: 0.75em;
    white-space: nowrap;
}
.display-table .order-summary-toggle__total-recap {
    display: table-cell;
}

.order-summary-toggle__total-recap {
    vertical-align: middle;
    text-align: right;
    padding-left: 0.75em;
    white-space: nowrap;
}
.total-recap__final-price {
    font-size: 18px;
    line-height: 1em;
    color: #333333;
}

.order-summary-toggle__total-recap {
    vertical-align: middle;
    text-align: right;
    padding-left: 0.75em;
    white-space: nowrap;
}
.order-summary-toggle__inner:after, .wrap:after {
    clear: both;
}
.order-summary-toggle__dropdown {
    vertical-align: middle;
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
    fill: #1990c6;
}
.order-summary-toggle__icon {
    fill: #1990c6;
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
}
.anyflexbox .banner {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.banner {
    display: block;
}
.logo {
    display: block;
    vertical-align: middle;
}
h1, .heading-1 {
    font-family: Roboto, sans-serif;
    font-size: 1.7142857143em !important;
    line-height: 2em;
}
header.main__header a.logo.logo--left {
    display: none;
}
.main {
    padding-top: 1.5em;
}
.btn, .sp-modal-toggle {
    width: 100%;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
}
.step__footer__previous-link, .step__footer__info {
    padding-top: 1.5em;
    text-align: center;
}
}

@media (min-device-width: 750px){
  .section {
    padding-top: 3em;
}
.step__footer {
    margin-top: 1.5em !important;
}
.floating-labels .field--half {
    width: 50% !important;
}
.step__footer__continue-btn {
    float: right;
}
.anyflexbox .step__footer__previous-link, .anyflexbox .step__footer__info {
    margin-right: 1em;
}
.step__footer__previous-link, .step__footer__info {
    float: left;
}
.anyflexbox .step__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main__content {
    padding-bottom: 4em;
}
}
@media (min-device-width: 1000px){
    body {
    font-size: 14px;
}
  .order-summary__sections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 8em);
    width: 100%;
  }
  .page--logo-main .breadcrumb {
    margin-top: 1em;
}
.sidebar::after {
    left: 0 !important;
    background-position: left top !important;
    -webkit-box-shadow: 1px 0 0 #d1dbdd inset !important;
    box-shadow: 1px 0 0 #d1dbdd inset !important;
}
.anyflexbox .content .wrap {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.page--no-banner .main, .page--no-banner .sidebar {
    padding-top: 4em !important;
}
.sidebar {
    width: 38% !important;
    padding-left: 4% !important;
    background-position: left top !important;
    float: right !important;
}
.wrap {
    padding: 0 5%;
    width: 78.5714285714em;
    max-width: 100% !important;
}
.order-summary__section--product-list+.order-summary__section {
     border: 0; 
}

.order-summary__section~.order-summary__section {
     border-top: 1px solid rgba(162,170,172,0.34); 
}
.order-summary__section {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.main__header {
    padding-bottom: 2em;
}
.section__header {
    margin-bottom: 1.5em;
}
.order-summary__section--product-list::before {
    background-color: transparent;
    top: 0;
}
.order-summary__section--product-list::before, .order-summary__section--product-list::after {
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
    transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
    width: 100%;
    z-index: 4;
}
.order-summary__section:first-child {
    padding-top: 0;
    padding-bottom: 0;
}
.order-summary__section--product-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-height: 7em;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.order-summary__section--product-list .product-table {
    margin-top: 0.75em;
    margin-bottom: 1.5em;
    position: relative;
    z-index: 1;
}
}
.product__description__name {
    min-width: 100%;
}
.order-summary__section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.fieldset:after {
    clear: both;
}

.fieldset:after, .fieldset:before {
    content: "";
    display: table;
}
.radio-wrapper:last-child, .checkbox-wrapper:last-child {
    margin-bottom: 0;
}
.fieldset-description {
    margin-top: 0.9285714286em;
        margin-left: 8px;
}
.field {
    width: 100%;
    float: left;
    padding: 0.4285714286em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.radio-wrapper, .checkbox-wrapper {
    zoom: 1;
    margin-bottom: 1em;
}
.js .visually-hidden-if-js {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.sidebar h2, .sidebar .heading-2 {
    color: #2e3131;
}
.main h2, .main .heading-2 {
    color: #333333;
}

.section__title {
    color: #333333;
}
h2, .heading-2 {
    font-family: Roboto, sans-serif;
    font-size: 1.2857142857em;
    line-height: 1.3em;
}
a, .link {
    text-decoration: none;
    color: #1990c6;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.step__footer__previous-link, .step__footer__info {
    display: block;
}
.btn__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.icon-svg--spinner-button {
    width: 20px;
    height: 20px;
}
.icon-svg--size-18 {
    width: 18px;
    height: 18px;
}
.icon-svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
.step__footer {
    z-index: 2;
    position: relative;
    margin-top: 1em;
}
      .anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.content {
    overflow: hidden;
}
.main {
    width: 52%;
    padding-right: 6%;
    float: left;
}
.sidebar {
    width: 38%;
    padding-left: 4%;
    background-position: left top;
    float: right;
}
.anyflexbox .breadcrumb__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.breadcrumb__item--current {
    font-weight: 600;
    color: #333333;
}
.breadcrumb__item {
    display: inline !important;
    font-size: 0.8571428571em;
    color: #737373;
}
.main .icon-svg--color-adaptive-light {
    color: #737373;
    fill: currentColor;
}
.breadcrumb__chevron-icon {
    margin: 0 0.6428571429em;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.icon-svg--size-10 {
    width: 10px;
    height: 10px;
}
.layout-flex--loose-horizontal .layout-flex__item {
    padding-left: 10px;
    padding-right: 0.5714285714rem;
}
.field__input-wrapper--select .field__label--visible {
    display: block;
}
.layout-flex--tight-vertical .layout-flex__item {
    padding-bottom: 0.1428571429rem;
    padding-top: 0.1428571429rem;
}
.layout-flex__item {
    padding: 0.1428571429rem;
}
.main h2, .main .heading-2 {
    color: #333333;
}
.section__title {
    color: #333333;
}
.layout-flex__item--stretch {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.layout-flex--loose-horizontal {
    margin-left: -0.5714285714rem;
    margin-right: -0.5714285714rem;
}

.layout-flex--tight-vertical {
    margin-bottom: -0.1428571429rem;
    margin-top: -0.1428571429rem;
}
.layout-flex--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.layout-flex {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -0.2857142857rem;
}
.display-table .radio__label, .display-table .checkbox__label {
    display: table-cell;
    width: 100%;
}

.radio__label, .checkbox__label {
    cursor: pointer;
    vertical-align: middle;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.input-checkbox {
    border-radius: 4px;
}
.input-checkbox, .input-radio {
    width: 18px;
    height: 18px;
    -webkit-box-shadow: 0 0 0 0 #1990c6 inset;
    box-shadow: 0 0 0 0 #1990c6 inset;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    border: 1px solid;
}
.display-table .radio-wrapper, .display-table .checkbox-wrapper {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.radio__input, .checkbox__input {
    padding-right: 0.75em;
    white-space: nowrap;
}
.wrap {
    display: block;
    margin: 0 auto;
    max-width: 40em;
    zoom: 1;
}
.main .field__caret {
    border-left: 1px rgba(179,179,179,0.5) solid;
}

.field__caret {
    display: block;
    width: 2.1428571429em;
    height: 43%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
} 
.field__input--select {
    padding-right: 2.0714285714em;
    white-space: nowrap;
}
table.total-line-table {
    width: 100%;
}
.anyflexbox .content .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.field {
    width: 100%;
    float: left;
    padding: 0.4285714286em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.animate-floating-labels .field__input {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.field__label--visible {
    display: block;
}
.hidden {
    display: none !important;
}
.field__label {
    text-align: left;
    font-weight: 600;
    margin: 0.5em 0;
}
.main .field__input {
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
}
.floating-labels .field--show-floating-label .field__input {
    padding-top: 1.5em;
    padding-bottom: 0.3571428571em;
}
.field__input-wrapper {
    position: relative;
}
.field__input {
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
}
.floating-labels .field--show-floating-label .field__label {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}
.floating-labels .main .field__label {
    color: #737373;
}
.floating-labels .field__label {
    font-size: 0.8571428571em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0.4285714286em;
    margin-left: 1px;
    padding: 0 0.9166666667em;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: inherit;
    border: none;
    background: transparent;
    line-height: normal;
}
.section__header {
    position: relative;
}
.icon-svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
.btn, .sp-modal-toggle {
    cursor: pointer;
    display: inline-block;
    background-color: #23314e;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 1.4em 1.7em;
    text-align: center;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.product-thumbnail::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    z-index: 2;
}
.product-thumbnail__quantity {
    font-size: 0.8571428571em;
    font-weight: 600;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114,114,114,0.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    position: absolute;
   top: -8px;
    left: 55px;
    z-index: 3;
}

.order-summary__section__content {
    width: 100%;
    overflow-y: scroll;
}
.product-table th, .product-table td {
    padding-top: 0;
    padding-bottom: 0;
}
.product__description {
    text-align: left;
    width: 100%;
}
td, th {
    padding-left: 1em;
}
td, th {
    padding: 0;
    font-weight: normal;
}
user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
.sidebar .order-summary__small-text {
    color: #686d6f;
}

.product__description__name, .product__description__variant, .product__description__property {
    display: block;
}
.order-summary__small-text {
    font-size: 0.8571428571em;
}
.product:first-child td {
    padding-top: 0;
}

.product td {
    padding-top: 1em;
}
.product-table td {
    border-color: #fad9d9;
}
.product-table td {
    border-color: #f0e4bc;
}
.product-table td {
    border-color: #d1ecd4;
}
.step__footer__previous-link-content {
    vertical-align: middle;
}
.total-line th, .total-line td {
    padding-top: 0.75em;
}
td:last-child, th:last-child {
    text-align: right;
}
.total-line__price {
    padding-left: 1.5em;
    text-align: right;
    white-space: nowrap;
}
.product__price {
    white-space: nowrap;
}
.order-summary__scroll-indicator {
    background-color: rgba(46,49,49,0.85);
    border-radius: 2em;
    bottom: 1.5em;
    color: #e8f3f6;
    font-size: 0.8571428571em;
    left: 50%;
    opacity: 0;
    padding: 0.6em 1.2em;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    white-space: nowrap;
    z-index: 2;
}
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.product-thumbnail__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}
.product-thumbnail__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.sidebar {
    position: relative;
    color: #4d5051;
}
aside {
    display: block;
}
.anyflexbox .content .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.sidebar::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #e8f3f6;
    z-index: -1;
    -webkit-box-shadow: 0 -1px 0 #d1dbdd inset;
    box-shadow: 0 -1px 0 #d1dbdd inset;
}
td.product__image img {
    width: 65px;
    height: 65px;
    object-fit: cover;
}
span.logo__text.heading-1 {
    font-size: 2em;
    color: black;
}
.sidebar__header {
    margin-bottom: 2.5em;
    display: none;
}
.sidebar .order-summary__emphasis {
    color: #2e3131;
    font-weight: 600;
}
.sidebar .payment-due__price {
    color: #2e3131;
}
.payment-due__price {
    font-size: 1.7142857143em;
    font-weight: 600;
    letter-spacing: -0.04em;
    line-height: 1em;
}
.total-line-table__tbody+.total-line-table__tbody .total-line:first-child th, .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td, .total-line-table__tbody+.total-line-table__footer .total-line:first-child th, .total-line-table__tbody+.total-line-table__footer .total-line:first-child td {
    padding-top: 3em;
    position: relative;
}
tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
    background-color: rgba(162,170,172,0.34);
}
.total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    height: 1px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
tbody th.product__description {
    padding-left: 1em;
}
.field__input--select {
    padding-right: 2.0714285714em;
    white-space: nowrap;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
user agent stylesheet
select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.main .field__caret {
    border-left: 1px rgba(179,179,179,0.5) solid;
}
.input-checkbox:checked:after, .input-radio:checked:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.input-checkbox:checked, .input-radio:checked {
    border: none;
    -webkit-box-shadow: 0 0 0 10px #1990c6 inset;
    box-shadow: 0 0 0 10px #1990c6 inset;
}

.main .input-checkbox, .main .input-radio {
    border-color: #d9d9d9;
    background-color: white;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.input-checkbox {
    border-radius: 4px;
}
.input-checkbox:after {
    width: 10px;
    height: 8px;
    margin-left: -5px;
    margin-top: -4px;
    background-image: url('C:/xampp/htdocs/custom checkout/images/tick.svg');
}
.input-checkbox:after, .input-radio:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
    opacity: 0;
}
/* shipping details*/
.section:first-child {
    padding-top: 0;
}
.content-box:first-of-type, .content-box-spacing:first-of-type {
    margin-top: 0;
}

.main .content-box {
    border-color: #d9d9d9;
}
.content-box, .content-box-spacing {
    margin-top: 1em;
}
.content-box {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid;
    border-radius: 5px;
    color: #545454;
}
.content-box__row:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.content-box__row:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.display-table .content-box__row {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.content-box__row--tight-spacing-vertical {
    padding-top: 0.8571428571em;
    padding-bottom: 0.8571428571em;
}
.content-box__row {
    padding: 1.1428571429em;
    position: relative;
    zoom: 1;
}
.content-box__row:after, .content-box__row:before {
    content: "";
    display: table;
}
.review-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.review-block__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.review-block__link {
    max-width: 10em;
    font-size: 0.8571428571em;
}
.review-block~.review-block {
    margin-top: 0.8571428571em;
    padding-top: 0.8571428571em;
    border-top: 1px solid #e6e6e6;
}
.review-block__label {
    color: #737373;
    padding-right: 1.1428571429em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 5em;
    -ms-flex: 0 1 5em;
    flex: 0 1 5em;
}
.review-block__content {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    color: #333333;
    padding-right: 1.1428571429em;
}
.section__content {
    zoom: 1;
}
.display-table .radio__input, .display-table .checkbox__input {
    display: table-cell;
}
.input-radio {
    border-radius: 50%;
}
.display-table .radio__label__primary {
    display: table-cell;
    width: 100%;
}
.radio__label__primary {
    cursor: inherit;
    font-family: inherit;
    vertical-align: top;
}
.display-table .radio__label__accessory {
    display: table-cell;
}

.radio__label__accessory {
    text-align: right;
    padding-left: 0.75em;
    white-space: nowrap;
}
.content-box__emphasis {
    font-weight: 600;
    color: #333333;
}
.radio-wrapper:after, .checkbox-wrapper:after {
    clear: both;
}
.content-box__row:after {
    clear: both;
}
.section__content:after {
    clear: both;
}

.section__content:after, .section__content:before {
    content: "";
    display: table;
}
.main__footer {
    padding: 1em 0;
    border-top: 1px solid #e6e6e6;
}
.anyflexbox .main__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.input-checkbox:checked:after, .input-radio:checked:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.input-radio:after {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #fff;
    border-radius: 50%;
}
.input-checkbox:after, .input-radio:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
    opacity: 0;
}
address.address {
    font-style: normal;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 0;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
legend {
    border: 0;
    padding: 0;
}
legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.radio-wrapper.content-box__row, .checkbox-wrapper.content-box__row {
    margin-bottom: 0;
}
.content-box__row~.content-box__row {
    border-top: 1px solid #d9d9d9;
}
.field__caret-svg {
    position: absolute;
    margin-left: -2px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.Polaris-Page {
    max-width: 100% !important;
}
.customer-tab-first.first-wrapper {
    margin: 0 !important;
}
.customer-tab-first.first-wrapper ._3PelD {
    margin: 0 !important;
}
.create-order-wrapper h1.Polaris-DisplayText {
    padding-top: 2.1rem;
}
.Polaris-Page__Content.table-head-margin {
    margin-bottom: 0;
}
.upload-wrapper .Polaris-Button--plain:hover {
    border: 1px solid #c4cdd5 !important;
}
.create-order-wrapper section.ui-card__section.customer-top-wrap:first-child {
    padding-left: 0;
}
.customer-tab-first.first-wrapper .header-option-style {
    padding: 10px 0px 0px 0px;
}
.create-order-wrapper .Polaris-Layout__Section {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
.Polaris-Page {
    padding-bottom: 3.2rem;
}
.customer-tab-first.first-wrapper .Polaris-Page__Content {
    margin-bottom: 0;
}
select.variant-closure-input.selectvalue {
    border-radius: 5px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat;
    -webkit-appearance: none;
   background-position-x: 265px;
    background-position-y: center;
    background-size: 9px;
}
.customer-tab-first.first-wrapper .Polaris-DataTable {
    background-color: var(--p-surface,#fff);
    box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
    outline: .1rem solid transparent;
    border-radius: var(--p-border-radius-wide,3px);
}


