/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2017, 8:06:08 PM
    Author     : Web Artisan
*/

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Roboto|Slabo+13px|Ubuntu');
.dataTables_filter{
    display : none !important;
}

#example1_filter {
    display : none !important;
}

