@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Roboto|Slabo+13px|Ubuntu');
body{font-family:-apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif}
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px
}
.newbg
{
    min-height: 836px;
    background-color: #eee;
}
.dataTables_filter{
    display : none !important;
}

.row_xx{
    margin-left: 25px !important;
    margin-right: -15px !important;
    margin-top: 10px !important;
}

#example1_filter {
    display : none !important;
}

body#wrapper{
    /*background: #ebeef0;*/
}
fieldset.scheduler-border {
    background: #fff;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.link_section{
    font-size :20px !important;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.marginTop{
    margin-top: 2%;
}
.form-group h4{
    font-size: 16px;
}
.box-body{
    border-top: 1px solid #ddd;
}
.input-width{
    width: 65%;
}
.hide{
    display: none;
}
.answerimage{
    height: 35px;
    width: 35px;
    cursor: pointer;    
}
.alert.alert-success{
    padding: 8px;
}

.alert-success {
    color: #000 !important;
    background-color: #3c763d !important ;
}

.alert-dismissible .close{
    right: 0px !important;
}

.thankyou .row { margin-left: 0px; margin-right: 0px;}
.padding {padding: 15px;}
.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}
.select-display { display: inline-block; width: 100%; }
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown a, .dropdown a:visited { color:#555; text-decoration:none; outline:none;}
.dropdown dt a { display:block; padding-right:20px; border:1px solid #d2d6de;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px; font-weight: 400;}
.dropdown dt a:hover,.dropdown a:focus { color: #555; }
.dropdown dd ul { color:#000; display:none;
                  left:0px; padding:5px 0px; top:2px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#ddd;}
.dropdown dd ul li a:focus { border-color:#ddd;}
.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; width: 32px;height: 32px;}
.flagvisibility { display:none;}

.code-preview { max-height: 250px; overflow: scroll; }
.btnImage {
    height: 55%;
    width: 55%;
    margin-bottom: 6px;
    cursor: pointer;
}

.paddingBtn {
    padding: 8px 52px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.btn-default.YesButton,.btn.btn-default.activateButton  {
    padding: 6px 32px;
    margin-left: 12px;
    margin-top: 7px;
}
.table.table-bordered.table-hover {
    border: 1px solid #ddd;   
    margin-top: 5px;
}
.loader{
    display: none;
    text-align: center;
    margin-top: 8px;
}
.loader i{
    font-size: 35px;
}
.resetStats { cursor: pointer; }
/* #reservation {
    text-align: center;
} */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.light{
    font-weight: lighter;
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font26{
    font-size: 26px;
}
.font28{
    font-size: 28px;
}

.font30{
    font-size: 30px;
}
.font32{
    font-size: 32px;
}
.font34{
    font-size: 34px;
}
.font36{
    font-size: 36px;
}
.font38{
    font-size: 38px;
}
.font40{
    font-size: 40px;
}




.CreateQuiz .form-group select {
    display: block;
    width: 100%;
    border: 1px solid #dedede;

}
.CreateQuiz .form-group {
    margin-bottom: 40px;
}
.CreateQuiz .text-center label {
    font-size: 20px;
}
.CreateQuiz input[type=file]{
    height: auto;
}
.Comic-Sans-MS {
    font-family: Comic Sans MS;
}
.Verdana {
    font-family: Verdana;
}
.Times-New-Roman {
    font-family: Times New Roman;
}
.WildWest {
    font-family: WildWest;
}
.Arial {
    font-family: Arial;
}
.Arial {
    font-family: Helvetica;
}
.Lora {
    font-family: 'Lora' , serif;
}
.Open-Sans {
    font-family: 'Open Sans', sans-serif;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.Slabo{
    font-family: 'Slabo 13px', serif;
}
.Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.CreateQuiz label.control-label {
    font-size: 13px;
}

@media screen and (max-width:1280px){
    #myModal .modal-dialog{
        width: 30% !important;
    }
}
@media screen and (max-width:920px){
    #myModal .modal-dialog{
        width: 40% !important;
    }
}
@media screen and (max-width:768px){
    #myModal .modal-dialog {
        margin: 5px auto !important;
        width: 50% !important;
        /*transform: translate(50%, 0px) !important;*/
    }
}
@media screen and (max-width:520px){
    #myModal .modal-dialog {
        width: 70% !important;
        /*transform: translate(22%, 0px) !important;*/
    }
}
@media screen and (max-width:520px){
    #myModal .modal-dialog {
        width: 70% !important;
        /*transform: translate(22%, 0px) !important;*/
    }
}
@media screen and (max-width:380px){
    #myModal .modal-dialog {
        width: 85% !important;
        /*transform: translate(9%, 0px) !important;*/
    }
}

#example2 thead tr th{
    text-align: center;
}
.quiz-name{
    cursor : pointer;
    display: block !important;
}
.preview{
    cursor: pointer;
}

#quizStats{

}

#quizStyle{

}
.type-desscription{
    /*display: none;*/
}

.list_error{
    display: none;
}

.template_error{
    display: none;
}
.quizstyle_error{
    display: none;
}
.quiztype_error{
    display: none;
}
.error{
        color: red;
    font-size: 14px;
    font-weight: 600;
}

/* Style sheet added */
.tab-content div#step2, .tab-content div#step3 {
    padding: 15px;
}.settingtitle {
    padding: 0!important;
}#step2 .settingtitle a, #step3 .settingtitle a{
    font-size: 17px !important;
    display: block;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #ccc;
    text-decoration: none;
}#step2 .settingtitle a:after, #step3 .settingtitle a:after {
    content: ">";
    float: right;
}#step3 h2 {
    font-size: 18px;
    float: left;
    font-weight: bold;
    margin-top: 10px !important;
}#step2 .form-group, #step3 .form-group {
    background: #f9f9f9;
    overflow: hidden;
    float: none;
    clear: both;
    float: left;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 15px 0;
    margin-bottom: 10px!important;
    width: 100%;
    padding-top: 15px;
    margin-top: -10px;
    border: 1px solid #ddd;
    border-left: 5px solid #ccc;
    border-top-width: 0;
}#step2 .settingtitle, #step3 .settingtitle{
    padding: 0!important;
}
#step2 .settingtitle a:hover, #step3 .settingtitle a:hover{
    color: #2d5d85;
    border-left-color: #428BCB;
}
.no-quiz-wrapper {
    padding: 70px 50px 100px;
    text-align: center;
    margin: auto;
}.no-quiz-wrapper p {
    font-size: 16px;
    font-family: roboto,sans-serif;
    margin-bottom: 10px;
}.no-quiz-wrapper a {
    font-family: roboto, sans-serif;
    padding: 10px 50px;
}.no-quiz-step2, .no-quiz-step1 {
    margin-bottom: 25px;
}#step1 a.video-explain {
    font-size: 12px;
    display: block;
}a.video-explain {
    font-size: 13px;
    display: block;
}p.question {
    display: block;
    font-size: 15px;
    background: #d3e6ea;
    padding: 10px;
    margin: 0;
    border-bottom: 2px solid #a6bdc1;
    font-weight:bold;
}p.answer,div.answer {
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
    font-size: 15px;
}
.faq-qa{
    padding:0 20px;
}
.faq-qa iframe {
    padding-top: 10px;
}
.answer li{
    padding:3px;
}
.top-title h1{
    font-size: 2.8rem;
    text-align: left !important;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.Polaris-Icon.cross{
    height: 15px;
    border-radius: 50%;
    background: #e6e6e6;
    width: 15px;
    color: white;
    padding: 2px;
    margin-bottom: -2px;
}
.Polaris-Icon.drag{
    margin-bottom: -6px;
}.selected-related ul li {
    list-style-type: none;
}
